 /* google font quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  body{ 
    margin:0 auto;
    justify-self: center;
    max-width: 1440px;
  }
  header{
    max-width:1440px;
    margin: 0 auto;
  }
  .nav-header{
    max-width: 1160px;
    margin: 20px 140px;
  }
  .display-flex{
    display: flex;
  }
  .btn-primary{
    border-radius: 12px;
    border: none;
    background: #FEA301;
    padding: 10px 60px;
    color: #FFFFFF;

  }
  hr{
    border: 1px solid orange;
  }
  main> section{
    margin-top: 60px;
  }
  /* primary-color */
  .primary-color{
    color: #FEA301;
  }
   /* black */
   .text-black{
    color: #111111;
  }
  .sky-blue{
    color: #01ACFD;
  }
  .paste-color{
    color: #05D4DF;
  }
  .purple-color{
    color: #5D58EF;
  }
  .text-color{
    color: #808080;
  }
  /* navbar related styles */
  .logo{
    width: 62px;
    height: 62px;
    align-items: center;
    gap: 10px;
  }
  .institute{
    font-size: 2rem;
    font-weight: 700;
  }
  .navbar{
     justify-content: space-between;
     align-items: center;
  }
  .nav-links{
    max-width: 386px;
    margin:auto 186px;
  }
  .nav-item{
    list-style: none;
    margin-left: 2rem;
  }
  .nav-link{
    text-decoration: none;
     
  }
 .home-link{
    font-size: 1.25rem;
    font-weight: 700;
 }
 .about-link{
    font-size: 1.25rem;
    font-weight: 500;
    color: #01ACFD;
 }
 .facilities-link{
    font-size: 1.25rem;
    font-weight: 500;
    color: #05D4DF;
 }
 .admission-link{
    font-size: 1.25rem;
    font-weight: 500;
    color: #5D58EF;
 }
 /* menu or hamburger */
 
 /* banner-styles */
 .banner{
    gap: 60px;
    justify-items: center;
    margin-top: 120px 0px;
    align-items: center;
 }
 .banner-content{
     width: 640px;
     height: 330px;
 }
 .banner-title{
    font-size:3.25rem;
    font-weight: 700;
    margin-bottom: 24px;
 }
 .banner-description{
    font-size: 1.25rem;
    margin-bottom: 24px;
 }
 .secondary-btn{
    border-radius: 12px;
    border: none;
    background-color: #111111;
    padding: 10px 45px;
    color: #FFFFFF;
 }
 .hero-kids-img{
    width: 465px;
    height: 575px;
 }
  /*main styles  */
  .set-align{
    justify-self:center;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
    justify-self: center;
  }
  /* background-image */
  .bg-image{
    position: absolute;
    width: 1140px;
    align-items: center;
    justify-self: center;
  }
  /* card styles */
  .standard-title{
    margin: 0 auto;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 140px;
  }
  .card-container{
    max-width:1160px;
    height: 440px;
    justify-items: center;
    
  }
  .card{
    width: 365px;
    height: 475px;
    display: grid;
    border-radius: 18.50px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    justify-items:  center;
    padding-top: 52px;
  }
  .gradient-1{
    background-image: linear-gradient(to bottom,rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
    margin-right: 28px;
  }
  .gradient-2{
    background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1),rgba(255, 255, 255, 0));
    margin-right: 28px;
  }
  .gradient-3{
    background-image: linear-gradient(to bottom, rgba(238, 225, 255, 1),rgba(255, 255, 255, 0));
  }
  .card-content{
    text-align: center;
  }
  .card-title{
     font-size: 1.5rem;
     font-weight: 700;
     padding-top: 32px;
     padding-bottom: 32px;
  }
  .card-description{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 32px;
  }
  .read-more{
    font-size: 0.9rem;
    font-weight: 700;
  }
  /* ball styles */
  .balls{
    gap: 10px;
    margin-bottom: 60px;
    justify-self: center;
  }
  .ball{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FEA301;
    margin-top: 180px;
    /* color: #FFFFFF; */
    justify-items: center; 
  }
  .our-story{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 80px;
  } 
  .bg-img{
    position: absolute;
    width:1440px;
    height:1018px;
    justify-self: center;
  }
  .bg-gradient{
    background-image: linear-gradient(to top,rgba(254, 163, 1, 1),rgba(255, 255, 255, 1));
  }
  .card-container-2{
    max-width: 1160px;  
    gap: 20px;
    justify-self: center;
  }
  .img-container{
    width: 540px;
    height: 630px;
    box-shadow:0 4px 4px 0  rgba(0, 0, 0, 0.25);
    padding: 0px;
    overflow:hidden;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 16px;
  }
  .card-story-1{
    
  }
  .story1-title{
    font-size: 1.5rem;
    font-weight: 700;
    padding:40px 38px;
  }
  .story1-description{
    font-size: 0.9rem;
    font-weight: 500;
    padding:0px 65px 34px 38px ;
  }
  .story-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px;
    margin: 0px;
    position: relative;
    
  }
  .story-2{
    width: 290px;
    height: 300px;
    overflow:hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-size: cover;
    background-color: #FFFFFF;
  }
  .story2-title{
    font-size: 0.9rem;
    font-weight: 700;
    padding: 38px 38px 28px 38px;
  }
  /* btn styles */
  .story-btn{
    width: 200px;
    height: 50px;
    background: #111111;
    border-radius: 12px;
    padding: 10px;
    color: #FFFFFF;
    position: relative;
    margin-top: 80px;
    margin-bottom: 60px; 
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 45%;
  }
  /* footer styles */
  footer{
    width: 1440px;
    height:520px;
    background-color:#01ACFD;
    position: absolute;
  }
  .footer-container{
    position: relative;
    color: #FFFFFF; */
    justify-content: space-between;
  }
.institute-part{
  margin-left: 140px;
  margin-top: 120px;
  width: 300px;
  height: 80px;
}
  .bag-logo{
    width: 80px;
    height: 80px;
    margin-top: 30px;

  }
  /* .institute-part,
  .middle,
  .about-icon{
    flex: 1;
    margin: 0 10px;
    justify-content: space-between;
  } */
  .institute-title{
    font-size: 2.04rem;
    height: 80px;
    font-weight: 700;
  }
  .institute-description{
    font-size: 1.25rem;
    margin-top: 35px;
    width: 400px;
  }
  .middle{
    margin-left: 160px;
    margin-top: 125px;
  }
  .about-items{
    
  }
  .about-title{
    font-size: 1.50rem;
    font-weight: 700;
    margin-bottom: 35px;
  }
  .about-item{
   list-style: none;
   margin-top: 20px;
  
  }
  .about-link{
     text-decoration: none;
     color: #FFFFFF;
  }
  .about-icon{
     margin-left: 200px;
     margin-top: 130px;
  }
/* media query for small devices */
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
        justify-items: center;
        margin-top:0px;
    }
    .banner-content{
      width: 350px;
      height: 250px;
      text-align: center;
    }
    .banner-title{
      font-size: 2rem;
      text-align: center;
      justify-items: center;
      margin-top: 20px;
    }
   
    .banner-description{
      margin-top:18px;
    }
    .hero-kids-img{
      width:330px;
      height:400px;
      justify-items: center;
      padding: 0%;
   }
   .enroll-btn{
     margin-top: 15px;
   }
   .navbar
    {
      margin: 0 auto;
      width: auto;
      height: 70px;
      justify-content:space-between;
      justify-items: center;
    }
   .nav-links,
   .btn-primary,
   .institute{
     display: none;
     margin-left: 0px;   
   }
   .standard-title{
     margin-top: 140px;
     margin-bottom: 20px;
     font-size: 1.5rem;
     justify-items: center;
     align-items: center;   
   }
    .card-container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap:18px;
      margin-left: 10px;
      align-items: center;   
    }
    .our-story{
      position:absolute bottom;
      margin-top:0px;
    }
    .img-container{
      display: none;
    }
    .balls{
      position:relative;
      margin-top:1050px;
      justify-items: center;
    }
    .story-cards{
      grid-template-columns: repeat(2,1fr);
      gap: 11px;
      justify-items: center;
    }
    .story-2{
      width: 205px;
      height: 250px;
    }
    .story2-title{
      font-size: 0.8rem;
      padding:15px 20px 20px 20px;
    }
    .footer{
     max-height: 100%;
     padding: 0px;
    }
    .footer-container{ 
      flex-direction: column;
      align-items: left;
    }
    .institute-part{
       margin-top: 50px;
       padding-inline: 0px;
    }
    .institute-description{
      margin-top:8px;
    } 
    .institute-part,
    .middle,
    .about-icon{
      margin:0 auto;
      margin-right: 1200px;
    }
   .middle{
    margin-top: 180px;
    margin-bottom: 0px;
   }
   .about-item{
    margin-top: 2px;
   }
   .about-title{
    margin-top: 7px;
    margin-bottom: 0px;
   }
   .icon-title{
    margin-top: 0px;
   }
   .about-link{
    margin-top: 0px;
   }
   
}

@media screen and (min-width:576px) {
      hr{
        display: none;
      }
}
